


<div class="columns">
  <div class="column is-one-quarter">
    <div class="card">
      <header class="card-header-title">Change Password</header>
      <div class="card-content">
        <%= form_tag("change_password", method: "get") do %>
          <%= label_tag(:password, "Current password:", class: "label") %>
          <%= password_field_tag(:password, nil, class: "input") %>
          <%= label_tag(:new_password, "New password:", class: "label") %>
          <%= password_field_tag(:new_password, nil, class: "input") %>
          <%= label_tag(:rep_password, "New password again:", class: "label") %>
          <%= password_field_tag(:rep_password, nil, class: "input") %>
          <%= submit_tag() %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header-title">What I Am Following</header>
      <div class="card-content">
        <ul>
          <% @user.followings.each do |following| %>
            <li><h1 class='title is-5'><a href="/pages/<%= following.page.id %>"><%= following.page.title %></a></h1></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
