<div class="columns">
  <div class="column is-one-half">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1><%= @page.title %></h1>
          <p><%= @page.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <% if @user %>
      <%= form_for Comment.new, url: {controller: "pages", action: "add_comment"} do |f| %>
        <%= f.text_field :content, class: "input inline", placeholder: "Comment" %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :page_id, value: @page.id %>
      <% end %>
    <% end %>
    <br />
    <% @page.comments.each do |c| %>
      <div class="box">
        <strong>@<%= c.user.username %></strong>
        <p><%= c.content %></p>
        <small><%= time_ago_in_words(c.created_at) %> ago </small>
      </div>
    <% end %>
  </div>
</div>
